.project{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;

    .title{
        font-size: 40px;
        font-family: serif;
        color: blueviolet;
        text-align: center;
        margin-bottom: 3rem;
    }
}