.details {
  height: 10rem;
  width: 25rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin: 10px;
  padding-left: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  background-color: transparent;
  font-family: sans-serif;

  border: 1px solid #777;
  border-radius: 10px;

  .standard {
    color: black;
    margin: 10px 0;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        margin-right: 5px;
      }
    }
  }
  .institute{
    display: flex;
    align-items: center;
    .instIcon{
      height: 2.5rem;
      width: 2.5rem;

      border: 1px solid black;
      border-radius: 5px;
      margin-right: 8px;
      img{
        height: 2.5rem;
        width: 2.5rem;
  
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
  .board_or_university{
    display: flex;
    align-items: center;
    .board_logo{
      height: 2.5rem;
        width: 2.5rem;

        border: 1px solid black;
        border-radius: 5px;
        margin-right: 8px;
      img{
        height: 2.5rem;
        width: 2.5rem;

        border-radius: 5px;
      }
    }
  }
  .marks_passout {
    color: green;
    font-size: 18px;
    font-weight: 400;

    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .details {
    height: 8rem;
    width: 22rem;

    margin: 7px;
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 7px;

    .standard {
      margin: 5px 0;

      h1 {
        font-size: 20px;
        i {
          margin-right: 3px;
        }
      }
    }
    .institute {
      font-size: 14px;
      color: darkslategray;
    }
    .board_or_university{
        font-size: 12px;
        color: darkslategray;
    }
    .marks_passout {
      color: green;
      font-size: 15px;
      font-weight: 400;
    }
  }
}
