.header{
    display: flex;
    height: 8vh;
    background-color: #efefef;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    .left{
        flex: 3;
        display: flex;
        font-size: 25px;
        font-family: cursive;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .center{
        flex: 6;
        display: flex;
        font-size: 20px;
        font-family: cursive;
        text-align: center;
        align-items: center;
        justify-content: end;
        
        ul{
            list-style: none;
            display: flex;
            
            li{
                a{
                    margin-left: 1rem;
                    color: #656565;
                
                    text-decoration: none;
                    
                    &:hover{
                        font-weight: bold;
                        border-bottom: 2px solid gray;
                    }
                }
            }
        }
        
    }
}




.header .right{
    flex: 1;
    display: flex;
    font-size: 24px;
    font-family: cursive;
    text-align: center;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.header .right i{
    cursor: pointer;
}

.active{
    font-weight: bold;
}