.skills{
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    position: relative;

    overflow:auto;
    // border: 1px solid red;
    
    
    .title{
        height: 8vh;

        font-size: 40px;
        font-family: sans-serif;
        color: #606060;
        
        text-align: center;
        margin-top: 8vh;
    }

    .skill_nav{
        width: 12rem;
        margin: 0 auto;
        ul{
            display: flex;
            justify-content: space-between;

            list-style: none;

            li{
                    font-size: 1.2rem;
                    font-family: sans-serif;
                    color: #606060;

                    cursor: default;
                    text-transform: capitalize;
                    text-decoration: none;
            }
        }
    }
    .container{
        width: 70%;
        margin: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        .tech{
            display: flex;
            flex-direction: column;

            .tech_skill_nav{
                margin-bottom: 0.7rem;
            }
            .techContent{
                height: 70vh;
                width: 30rem;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                .primary{
                    display: flex;
                    ul{
                        width: 70rem;
                        display: flex;
                        text-align: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;

                        gap: 4rem;
                        li{
                            height: 10rem;
                            width: 10rem;
                            text-align: center;
                            img{
                                height: 8rem;
                                width: 8rem;

                                object-fit: cover;
                            }
                            h4{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
                .secondary{
                    display: flex;
                    ul{
                        width: 70rem;
                        display: flex;
                        text-align: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;

                        gap: 4rem;
                        li{
                            height: 10rem;
                            width: 10rem;
                            text-align: center;
                            img{
                                height: 8rem;
                                width: 8rem;

                                object-fit: cover;
                            }
                            h4{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }

            ul{
                list-style: none;

                li{
                    font-family: cursive;
                }
            }
        }

        .soft{
            display: flex;
            justify-content: center;
            flex: 3;
            
            ul{
                list-style: none;
                line-height: 5rem;
    
                li{
                    font-family: cursive;
                    font-size: 24px;
                    color: #606060;

                    text-transform: capitalize;
                }
            }
        }
    }

}

.active{
    font-weight: bold;
    // text-decoration: underline;
    border-bottom: 2px solid #606060;
}

.hideContent{
    display: none;
}


@media only screen and (max-width: 600px){
    .skills{
        height: fit-content;
        .title{
            font-size: 30px;
            margin-bottom: 2rem;
        }
        .skill_nav{
            ul{
                li{
                    font-size: 0.9rem;
                    margin-bottom: 0.6rem;
                }
            }
        }

        .container{
            .tech{
                .primary{
                    margin-right: 1rem;
                    padding-right: 0.8rem;
                    border-right: 1px solid gray;
                }
                div{
                    h2{
                        font-size: 1.2rem;
                        margin-bottom: 0.6rem;
                    }
                }
                ul{
                    line-height: 2rem;
                    li{
                        font-size: 0.68rem;
                    }
                }
            }
        }
    }
}