.projectCard {
  height: 10rem;
  width: 16rem;
  border: 1px solid black;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .projectDetails {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    font-family: sans-serif;

    h2 {
      display: flex;
      align-items: center;
      text-transform: capitalize;
    }

    h3 {
      color: #858585;
      font-size: 14px;
      text-transform: capitalize;
    }

    h4 {
      width: 12rem;
      font-size: 13px;
      text-align: justify;

      // truncate code for 2 line
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      margin-left: 3px;
    }
    h6 {
      color: #999999;
    }
    .linkBtn {
      width: 13.5rem;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .projectCard {
    height: 5rem;
    width: 8rem;
    border-radius: 4px;

    .projectImg {
      img {
        height: 5rem;
        width: 7.2rem;

        border: 1px solid green;
        border-radius: 3px;
      }
    }

    .projectDetails {
      padding-left: 4px;
      h2 {
        font-size: 0.7rem;
      }
      h3 {
        font-size: 0.6rem;
      }
      h4 {
        font-size: 12px;
      }
      h6 {
        font-size: 9px;
      }
      .linkBtn {
        width: 7.5rem;
        margin-top: 0.6rem;
        a{
            button{
                font-size: 12px;
                padding: 2px;
                cursor: pointer;
            }
        }
      }
    }
  }
}
